page-login {

  .signup-message {
    color: #488aff;
    font-size: medium;
    text-align: center;
  }

  .facebook-login {
    background-color: #3B5998;
  }

  .google-login {
    background-color: #DB4437;
  }

}
