page-featured-products {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 5%;
    right: 3%;
    //left: 2%;
    font-size: 1.5em;
    width: 40%;
    font-weight: normal;
    color: #fff;
    background-color: #222222;
  }

  .card-content {
    position: absolute;
    top: 60.5%;
    font-size: 1.2em;
    width: 35%;
    font-weight: normal;
    color: #ffffff;
    background-color: #488aff;
    opacity: 90%;
  }


  .card-subtitle {
    position: relative;
  }

}


